<center>Please select site you want to go</center>

<table><tr><td>
<center><h1><%= link_to "Customer",client_root_path%></h1></center></td><td><center>
<h1><%= link_to "Admin", admin_root_path %></h1></center></td></th></table>
